body {
    background-color: lightslategrey
}

article{
    background-color: darkgrey;
    margin: 0.95em;
    padding: 1.25em
}

section {
    margin: 2em;
    padding-bottom: 2em
}

main h2{
    padding: 0em
}
#title {
    font-size: 50px;
    font-style: italic
}
.subtitles {
    font-size: 38px;
    font-style: oblique;
}